
    body {
      margin: 0;
      background-color: black;
      color: #00ffcc;
      font-family: 'IBM Plex Mono', monospace;
      font-size: 12px;
      background-image: url("/img/bg.gif");
    
    background-repeat:no-repeat;
    background-size: 1520px;
    background-position: center;
    background-attachment:fixed;
    }
    
    .read-btn {
        background-color: black;
        color:cyan;
        border: 1px solid cyan;
        padding: 8px 16px;
        cursor: pointer;
        font-family: monospace;
        transition: 0.3s;
    }

    .read-btn:hover {
        background-color: cyan;
        color: black;
    }

    .container {
      display: flex;
      min-height: 100vh;
    }

    .sidebar {
      width: 300px;
      background-color: black;
      border-right: 2px solid #00ffcc;
      padding: 20px;
    }

    .sidebar h2 {
      font-size: 14px;
      color: #00ffff;
      margin-bottom: 8px;
      border-bottom: 1px dashed #00ffcc;
    }

    .sidebar a {
      display: block;
      color: #00ffcc;
      text-decoration: none;
      margin: 6px 0;
    }

    .sidebar a:hover {
      text-decoration: underline;
    }

    .content {
      flex-grow: 1;
      padding: 20px;
    }

    .log-box {
      border: 1px dashed #00ffcc;
      padding: 10px;
      margin-bottom: 15px;
      background-color: #000000;
    }

    .log-box h3 {
      margin: 0 0 5px 0;
      font-size: 13px;
      color: #00ffff;
    }

    .code {
      background-color: #111;
      padding: 6px;
      font-family: 'IBM Plex Mono', monospace;
      color: #33ff33;
      font-size: 11px;
      white-space: pre-wrap;
    }
